<main>
  <section class="large-banner">
    <nav class="main-nav">
      <button>Nav Menu</button>
      <ul>
        <li>Projects</li>
        <li>Contact</li>
      </ul>
    </nav>
    <div class="banner-wrapper flex-row">
      <div class="info-wrapper">
        <h1 class="site-title">
          Lidia Rodionova<br>
          <span class="sub-title">User Interface Developer</span>
        </h1>
        <div class="skills-wrapper">
          linkedin in icon - github icon - download CV icon
        </div>
      </div>
      <div class="photo-wrapper">
        <img src="/assets/img/portrait.jpg" alt="portrait of site author">
      </div>
    </div>
  </section>
  <section class="main-content">
    <router-outlet></router-outlet>
  </section>
</main>