@font-face {
    font-family: NeoSansRegular;
    src: url('../assets/fonts/NeoSansStdRegular.otf');
}

@font-face {
    font-family: NeoSansLight;
    src: url('../assets/fonts/NeoSansStdLight.otf');
}

@font-face {
    font-family: NeoSansBold;
    src: url('../assets/fonts/NeoSansStdBold.otf');
}

// $primary-color: #094E81;
$primary-dark: #094E81;
$tertiary-color: #B3D5EF; //#D4E4F0;
$primary-font: 'NeoSansRegular';

h1, h2, h3, h4, h5, h6, p, div, span, li, header, footer {
    font-family: $primary-font;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $tertiary-color;
    color: white;
    padding: 16px;
    .logo-wrapper {
        background-color: white;
        color: $primary-dark;
        width: 56px;
        height: 56px;
        border-radius: 28px;
        text-align: center;
        line-height: 2.3;
        font-size: 28px;
        letter-spacing: 0;
        .desktop {
            display: none;
        }
    }
    .site-title {
        font-family: NeoSansLight, sans-serif;
        font-size: 48px;
        display: flex;
        flex-direction: column;
        .sub-title {
            font-family: NeoSansLight, sans-serif;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
    .top-nav.mobile {
        background-image: url(/assets/img/icons/48-hamburger-menu-darkblue.svg);
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: 2px solid transparent;
        background-size: 24px;
        border-radius: 4px;
        padding: 8px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            background-image: url(/assets/img/icons/48-hamburger-menu-white.svg);
        }
        &:focus {
            border: 2px solid cornflowerblue;
        }
    }
    .top-nav.desktop {
        display: none;
    }
}

nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    width: 70%;
    display: none;
    z-index: 1;
    // TODO: add transform property for smooth transition
    .close-button {
        position: absolute;
        z-index: 3;
        right: 0;
        margin: 8px 40px 8px 8px;
        background-image: url(/assets/img/icons/icons8-x-48.png);
        border: 2px solid transparent;
        background-color: transparent;
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-position: center;
        border-radius: 4px;
        &:focus {
            border: 2px solid $tertiary-color;
        }
    }
    &.active {
        display: block;
    }
    > div {
        background-color: #4085B8;
        opacity: 0.55;
        height: 100%;
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        
        &:nth-of-type(2) {
            position: absolute;
            top: 0;
            opacity: 0.75;
            box-sizing: border-box;
            height: 100%;
            width: 96%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        &.self {
            width: 200px;
            height: 200px;
            border-radius: 100px;
            position: absolute;
            top: 0;
            z-index: 2;
            background-image: url('/assets/img/portrait.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            background-size: cover;
            background-position-y: -50px;
            margin: 50px auto;
            
        }
    }
    ul {
        // background-color: #4085B8;
        background-color: $primary-dark;
        position: fixed;
        top: 0;
        width: 65%;
        box-sizing: border-box;
        opacity: 1;
        z-index: 1;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-top: 270px;
        display: flex;
        justify-content: flex-end;
        display: block;
        li {
            background-color: transparent;
            color: $tertiary-color;
            opacity: 0.75;
            margin: 8px;
            padding: 0;
            border-radius: 4px;
            list-style-type: square;
            a {
                color: $tertiary-color;
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 8px;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    color: #FFF;
                }
                &:focus {
                    
                }
            }
        }
    }
}

main, .main-content {
    padding: 16px;
    padding-bottom: 200px;
    /* display: block; */
    position: relative;

    // background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    .page-heading {
        margin: 32px 0 24px;
        font-size: 24px;
    }
    p {
        margin: 0 0 8px;
        line-height: 1.2;
    }
}

footer {
    background-color: #D4E4F0;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 128px;
    opacity: 0.5;
    .social-media-links {
        > div {
            width: 40px;
            height: 40px;
            display: inline-block;
            border: 1px solid;
            border-radius: 20px;
            margin: 8px;
        }
    }
    ul > li {
        display: inline-block;
        margin-right: 16px;
    }
    .copyright {
        position: absolute;
        bottom: 0;
        font-size: 12px;
    }
}



@media screen and (min-width: 1024px) {
    header {
        padding: 16px 48px;
        .logo-wrapper {
            background-color: transparent;
            width: auto;
            .desktop {
                display: block;
            }
            .mobile {
                display: none;
            }
        }
        .top-nav.mobile {
            display: none;
        }
        .top-nav.desktop {
            display: block;
            li {
                display: inline-block;
                padding: 0 16px;
                color: $primary-dark;
                cursor: pointer;
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}