WCAG => set of Accessibility recommendations to make a website usable for people with disabilities
Version 2.0 => required version to adhere to in most jurisdictions
Version 2.1 => latest version, usually not required to adhere to it

<Summary>recommendations to make content on the web accessible to people with 
    low vision
    blindness
    deafness
    hearing loss
    learning disabilities
    cognitive limitations
    limited movement
    speech impediments
    photosensitivity
    combinations of above
    
    written as testable content non-tech specific

    W3C recommends adhering to Version 2.0 or 2.1

    WCAG is created by the Accessibility Guidelines Working Group (AGWG)
</Summary>

<p>There are four principles of Accessibility</p>

<ol>
    <li>1 Percievable</li>
    <li>2 Operable</li>
    <li>3 Understandable</li>
    <li>4 Robust</li>
</ol>

<p>There are 12 Guidelines & there are 12 testable success criteria (one for each guideline)</p>

<ul>
    <li>1.1 Text alternatives</li>
    <li>1.2 alternatives for time based media</li>
    <li>1.3 adaptable content (content can be presented in diff ways)</li>
    <li>1.4 distinguishable (make it easy for all users to see content)</li>

    <li>2.1 Keyboard accessible</li>
    <li>2.2 enough time to be provided to user to see and use content</li>
    <li>2.3 do not design in a way that causes seizures</li>
    <li>2.4 navigable</li>

    <li>3.1 readable</li>
    <li>3.2 predictable</li>
    <li>3.3 input assistance</li>

    <li>4.1 compatible</li>
</ul>
